@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&family=Montserrat:wght@300;400;500&display=swap");
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 8 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #0C275C;
  font-family: 'Montserrat', sans-serif;
}

footer {
  bottom: 0;
  left: 0;
  margin-top: 10%;
  padding: 15px;
  background-color: white;
  color: #0C275C;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background-color: #0C275C;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: auto;
}

.navbar__logo svg {
  width: 40px;
  height: auto;
  fill: #46b7a0;
  -webkit-transition: fill .2s .1s ease-in-out;
  transition: fill .2s .1s ease-in-out;
}

.navbar__logo:hover, .navbar__logo:focus {
  outline: none;
}

.navbar__logo:hover svg, .navbar__logo:focus svg {
  fill: white;
}

.navbar__burger {
  padding: 10px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  z-index: 2;
}

.navbar__burger:hover, .navbar__burger:focus {
  outline: none;
}

.navbar__burger:hover .navbar__burger-inner,
.navbar__burger:hover .navbar__burger-inner::before,
.navbar__burger:hover .navbar__burger-inner::after, .navbar__burger:focus .navbar__burger-inner,
.navbar__burger:focus .navbar__burger-inner::before,
.navbar__burger:focus .navbar__burger-inner::after {
  background-color: white;
}

.navbar__burger:hover .burger--active .navbar__burger-inner::before,
.navbar__burger:hover .burger--active .navbar__burger-inner::after, .navbar__burger:focus .burger--active .navbar__burger-inner::before,
.navbar__burger:focus .burger--active .navbar__burger-inner::after {
  background-color: #0C275C;
}

.navbar__burger-box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.navbar__burger-inner {
  width: 100%;
  height: 3px;
  background-color: #46b7a0;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color .2s .1s ease-in-out;
  transition: background-color .2s .1s ease-in-out;
}

.navbar__burger .navbar__burger-inner::before,
.navbar__burger .navbar__burger-inner::after {
  width: 100%;
  height: 3px;
  background-color: #46b7a0;
  border-radius: 3px;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transition: background-color .2s .1s ease-in-out, -webkit-transform .2s .1s ease-in-out;
  transition: background-color .2s .1s ease-in-out, -webkit-transform .2s .1s ease-in-out;
  transition: transform .2s .1s ease-in-out, background-color .2s .1s ease-in-out;
  transition: transform .2s .1s ease-in-out, background-color .2s .1s ease-in-out, -webkit-transform .2s .1s ease-in-out;
}

.navbar__burger-inner::before {
  top: -10px;
}

.navbar__burger-inner::after {
  top: 10px;
}

.burger--active .navbar__burger-inner {
  background-color: transparent;
}

.burger--active .navbar__burger-inner::before,
.burger--active .navbar__burger-inner::after {
  background-color: #0C275C;
}

.burger--active .navbar__burger-inner::before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.burger--active .navbar__burger-inner::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.navbar__navigation {
  height: 100vh;
  width: 70vw;
  background-color: white;
  position: absolute;
  top: 0%;
  right: 0;
  -webkit-transform: translateX(70vw);
          transform: translateX(70vw);
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar__navigation--active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.navbar__navigation-list {
  list-style: none;
  padding: 0;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__navigation-item {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar__navigation a {
  text-decoration: none;
  color: #0C275C;
  font-weight: 500;
  position: relative;
}

.navbar__navigation a:focus {
  outline: none;
}

.navbar__navigation a::after {
  bottom: 0;
  content: '';
  height: 2px;
  border-radius: 2px;
  left: 50%;
  position: absolute;
  background: #0C275C;
  -webkit-transition: width .3s ease, left .3s ease;
  transition: width .3s ease, left .3s ease;
  width: 0;
}

.navbar__navigation a:hover::after, .navbar__navigation a:focus::after {
  width: 100%;
  left: 0;
}

.hero {
  position: relative;
}

.hero p {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.hero__rectangle {
  width: 80vw;
  height: 80vw;
  background: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 20vh;
  right: 60vw;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.hero__rectangle-right {
  background-color: #46b7a0;
  left: 60vw;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20vh;
}

.hero__text svg {
  width: 70vw;
  height: auto;
  -webkit-animation: fill 1s ease forwards 3s;
          animation: fill 1s ease forwards 3s;
}

.hero__text path:nth-child(1) {
  stroke-dasharray: 256;
  stroke-dashoffset: 257;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.hero__text path:nth-child(2) {
  stroke-dasharray: 143;
  stroke-dashoffset: 143;
  -webkit-animation: line-anim 2s ease forwards .2s;
          animation: line-anim 2s ease forwards .2s;
}

.hero__text path:nth-child(3) {
  stroke-dasharray: 82;
  stroke-dashoffset: 82;
  -webkit-animation: line-anim 2s ease forwards .4s;
          animation: line-anim 2s ease forwards .4s;
}

.hero__text path:nth-child(4) {
  stroke-dasharray: 112;
  stroke-dashoffset: 112;
  -webkit-animation: line-anim 2s ease forwards .6s;
          animation: line-anim 2s ease forwards .6s;
}

.hero__text path:nth-child(5) {
  stroke-dasharray: 76;
  stroke-dashoffset: 76;
  -webkit-animation: line-anim 2s ease forwards .8s;
          animation: line-anim 2s ease forwards .8s;
}

.hero__text path:nth-child(6) {
  stroke-dasharray: 195;
  stroke-dashoffset: 195;
  -webkit-animation: line-anim 2s ease forwards 1s;
          animation: line-anim 2s ease forwards 1s;
}

.hero__text path:nth-child(7) {
  stroke-dasharray: 172;
  stroke-dashoffset: 172;
  -webkit-animation: line-anim 2s ease forwards 1.2s;
          animation: line-anim 2s ease forwards 1.2s;
}

.hero__text path:nth-child(8) {
  stroke-dasharray: 144;
  stroke-dashoffset: 144;
  -webkit-animation: line-anim 2s ease forwards 1.4s;
          animation: line-anim 2s ease forwards 1.4s;
}

.hero__text path:nth-child(9) {
  stroke-dasharray: 112;
  stroke-dashoffset: 112;
  -webkit-animation: line-anim 2s ease forwards 1.6s;
          animation: line-anim 2s ease forwards 1.6s;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

.hero__divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__divider svg {
  width: 0vw;
  height: 40px;
  -webkit-animation: divider-anim 1.5s ease forwards 3s;
          animation: divider-anim 1.5s ease forwards 3s;
}

@-webkit-keyframes divider-anim {
  to {
    width: 60vw;
  }
}

@keyframes divider-anim {
  to {
    width: 60vw;
  }
}

.hero__subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__subtext svg {
  width: 50vw;
  height: auto;
  opacity: 0;
  -webkit-animation: subtext-anim 1s ease-in-out forwards 3s;
          animation: subtext-anim 1s ease-in-out forwards 3s;
}

@-webkit-keyframes subtext-anim {
  to {
    opacity: 1;
  }
}

@keyframes subtext-anim {
  to {
    opacity: 1;
  }
}

.about {
  -ms-scroll-snap-type: block mandatory;
      scroll-snap-type: block mandatory;
  position: relative;
}

.about__content {
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  left: 0;
  scroll-snap-align: start;
  scroll-margin: 10rem 0 0 0;
  margin: 200% auto 0 auto;
  text-align: center;
  width: 85%;
  color: white;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.about__content.appear {
  opacity: 1;
}

.counter {
  margin-top: 140%;
}

.counter__img {
  width: 100%;
  height: auto;
  opacity: 1;
}

.counter__wrapper {
  width: 100%;
  min-height: 35vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color .5s ease-in;
  transition: background-color .5s ease-in;
}

.counter__wrapper-list {
  padding: 5px;
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter__wrapper-item {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.counter__wrapper-item p {
  text-align: center;
  color: #0C275C;
  cursor: default;
}

.counter__wrapper-item i {
  font-size: 1.6rem;
  color: #0C275C;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.counter__wrapper-item i:hover {
  color: #46b7a0;
}

.cta {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.cta-btn {
  margin: 50px auto 50px auto;
  background-color: transparent;
  border: none;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  width: 80%;
}

.cta-btn::after {
  bottom: 0;
  content: '';
  height: 2px;
  border-radius: 2px;
  left: 50%;
  position: absolute;
  background: #46b7a0;
  -webkit-transition: width .3s ease, left .3s ease;
  transition: width .3s ease, left .3s ease;
  width: 0;
}

.cta-btn:hover::after, .cta-btn:focus::after {
  color: #46b7a0;
  width: 100%;
  left: 0;
}

.cta .find-btn {
  width: 40%;
}

.cta .hours-btn {
  width: 55%;
}

.heading__offer, .heading__contact {
  color: white;
  text-align: center;
  font-size: 2.4rem;
  letter-spacing: 0.06em;
  margin: 200px 0 50px 0;
  cursor: default;
}

.heading__content {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.06em;
  margin: 100px auto 150px auto;
  width: 80%;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  max-width: 80%;
  margin: auto;
}

.offer__card {
  max-height: 60vh;
  max-width: 35vh;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 0px black;
          box-shadow: 0px 0px 0px 0px black;
  background-color: white;
  margin-bottom: 5em;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
  margin: 50px 10px 50px 10px;
  opacity: 0;
}

@-webkit-keyframes cardLoad {
  100% {
    opacity: 1;
  }
}

@keyframes cardLoad {
  100% {
    opacity: 1;
  }
}

.offer__card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.offer__card-title {
  margin-left: 15%;
}

.offer__card-icon {
  max-width: 30%;
}

.offer__card-content {
  padding: 20px;
  font-size: 0.85rem;
  margin-top: 10px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__card {
  background: white;
  min-width: 45vw;
  max-width: 55vw;
  margin: 30% auto 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.2rem;
  position: relative;
}

.contact__card p {
  margin: 0 0 15px 0;
  color: #0C275C;
  font-weight: 500;
}

.contact__card a {
  text-decoration: none;
  color: #0C275C;
}

.contact__map {
  color: white;
  text-align: center;
  margin-top: 60%;
  width: 100%;
}

.contact__map-icon {
  margin-bottom: 20%;
}

.contact__map-icon svg {
  overflow: visible;
  width: 30vw;
  height: auto;
}

.contact__map-icon svg .icon-marker {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  fill: #46b7a0;
  opacity: 0;
}

.contact__map-icon svg .icon-stroke1,
.contact__map-icon svg .icon-stroke2 {
  opacity: 0;
}

@-webkit-keyframes markerAnim {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes markerAnim {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes strokeAnim {
  10% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes strokeAnim {
  10% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.contact__map-item {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 50vw;
}

.contact__map-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%  !important;
  height: 100%  !important;
}

.contact__map-item .item-cover {
  position: absolute;
  background-color: #0C275C;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@-webkit-keyframes coverOut {
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@keyframes coverOut {
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

.contact__timetable {
  margin: 30% auto 0 auto;
  color: white;
  text-align: right;
  width: 100%;
}

.contact__timetable table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__timetable td {
  padding: 15px;
}

.contact__timetable td:nth-child(2n-1) {
  margin-right: 150px;
}

.contact__timetable tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #46b7a0;
}

.contact__timetable tr:last-child {
  border-bottom: none;
}
/*# sourceMappingURL=styles.css.map */