@import '_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&family=Montserrat:wght@300;400;500&display=swap');

html {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: $primary-color;
    font-family: 'Montserrat', sans-serif;
}

footer {
    bottom: 0;
    left: 0;
    margin-top: 10%;
    padding: 15px;
    background-color: white;
    color: $primary-color;
    height: 40px;
    display: flex;
    align-items: center;
}

// Navigation Bar
.navbar {
    background-color: $primary-color;
    height: 100px;
    display: flex;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.navbar__logo {

    & svg {
        width: 40px;
        height: auto;
        fill: $secondary-color;
        transition: fill .2s .1s ease-in-out;
    }

    &:hover,
    &:focus {
         outline: none;
         & svg {
             fill: white;
         }
    }
}

.navbar__burger {
    padding: 10px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    z-index: 2;

    &:hover,
    &:focus {
        outline: none;
        .navbar__burger-inner,
        .navbar__burger-inner::before,
        .navbar__burger-inner::after {
            background-color: white;
        }
        .burger--active .navbar__burger-inner::before,
        .burger--active .navbar__burger-inner::after {
            background-color: $primary-color;
        }
    }

    &-box {
        width: 35px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    @mixin burger-line {
        width: 100%;
        height: 3px;
        background-color: $secondary-color;
        border-radius: 3px;
        position: absolute;
        left: 0;
    }

    &-inner {
        @include burger-line;

        top: 50%;
        transform: translateY(-50%);
        transition: background-color .2s .1s ease-in-out;
    }

    .navbar__burger-inner::before,
    .navbar__burger-inner::after {
        @include burger-line;

        content: '';
        transition: transform .2s .1s ease-in-out, background-color .2s .1s ease-in-out;
    }

    &-inner::before {
        top: -10px;
    }

    &-inner::after {
        top: 10px;
    }
}

.burger--active .navbar__burger-inner {
    background-color: transparent;
}

.burger--active .navbar__burger-inner::before,
.burger--active .navbar__burger-inner::after {
    background-color: $primary-color;
}

.burger--active .navbar__burger-inner::before {
    transform: translateY(10px) rotate(45deg);
}

.burger--active .navbar__burger-inner::after {
    transform: translateY(-10px) rotate(-45deg);
}

//Sidebar

.navbar__navigation {
    height: 100vh;
    width: 70vw;
    background-color: white;
    position: absolute;
    top: 0%;
    right: 0;
    transform: translateX(70vw);
    transition: transform .3s .1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--active {
        transform: translateX(0px);
    }

    &-list {
        list-style: none;
        padding: 0;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-item {
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        flex: 1;


        }
        a {
            text-decoration: none;
            color: $primary-color;
            font-weight: 500;
            position: relative;

            &:focus {
                outline: none;
            }

            &::after {
                bottom: 0;
                content: '';
                height: 2px;
                border-radius: 2px;
                left: 50%;
                position: absolute;
                background: $primary-color;
                transition: width .3s ease, left .3s ease;
                width: 0;
            }

            &:hover::after,
            &:focus::after {
                width: 100%;
                left: 0;
            }
        }
}


// Hero Section
.hero {
    position: relative;

    p {
        color: white;
        font-size: 2rem;
        text-align: center;
    }

    &__rectangle {
        width: 80vw;
        height: 80vw;
        background: white;
        transform: rotate(45deg);
        position: absolute;
        top: 20vh;
        right: 60vw;
        box-shadow: 0 0 10px black;
    }

    &__rectangle-right {
        background-color: $secondary-color;
        left: 60vw;
    }

    @mixin hero-align {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        @include hero-align;

        margin-top: min(20vh);

        & svg {
            width: 70vw;
            height: auto;
            animation: fill 1s ease forwards 3s;
        }

        & path:nth-child(1) {
            stroke-dasharray: 256;
            stroke-dashoffset: 257;
            animation: line-anim 2s ease forwards;
        }
        & path:nth-child(2) {
            stroke-dasharray: 143;
            stroke-dashoffset: 143;
            animation: line-anim 2s ease forwards .2s;
        }
        & path:nth-child(3) {
            stroke-dasharray: 82;
            stroke-dashoffset: 82;
            animation: line-anim 2s ease forwards .4s;
        }
        & path:nth-child(4) {
            stroke-dasharray: 112;
            stroke-dashoffset: 112;
            animation: line-anim 2s ease forwards .6s;
        }
        & path:nth-child(5) {
            stroke-dasharray: 76;
            stroke-dashoffset: 76;
            animation: line-anim 2s ease forwards .8s;
        }
        & path:nth-child(6) {
            stroke-dasharray: 195;
            stroke-dashoffset: 195;
            animation: line-anim 2s ease forwards 1s;
        }
        & path:nth-child(7) {
            stroke-dasharray: 172;
            stroke-dashoffset: 172;
            animation: line-anim 2s ease forwards 1.2s;
        }
        & path:nth-child(8) {
            stroke-dasharray: 144;
            stroke-dashoffset: 144;
            animation: line-anim 2s ease forwards 1.4s;
        }
        & path:nth-child(9) {
            stroke-dasharray: 112;
            stroke-dashoffset: 112;
            animation: line-anim 2s ease forwards 1.6s;
        }

        @keyframes line-anim {
            to {
                stroke-dashoffset: 0;
            }
        }

        @keyframes fill {
            from {
                fill: transparent;
            }
            to {
                fill: white;
            }
        }
    }

    &__divider {
        @include hero-align;

        & svg {
            width: 0vw;
            height: 40px;
            animation: divider-anim 1.5s ease forwards 3s;
        }

        @keyframes divider-anim {
            to {
                width: 60vw;
            }
        }
    }

    &__subtext {
        @include hero-align;

        & svg {
            width: 50vw;
            height: auto;
            opacity: 0;
            animation: subtext-anim 1s ease-in-out forwards 3s;
        }

        @keyframes subtext-anim {
            to {
                opacity: 1;
            }
        }
    }
}

// Brief about

.about {
    scroll-snap-type: block mandatory;
    position: relative;
    &__content {
        position: sticky;
        top: 200px;
        left: 0;
        scroll-snap-align: start;
        scroll-margin: 10rem 0 0 0 ;
        margin: 200% auto 0 auto;
        text-align: center;
        width: 85%;
        color: white;
        opacity: 0;
        transition: opacity 0.5s ease-in;

        &.appear {
            opacity: 1;
        }
    }
}



// Main Page Counter

.counter {
    margin-top: 140%;

    &__img {
        width: 100%;
        height: auto;
        opacity: 1;
        // transition: opacity .5s ease-in;
        // &.appear {
        //     opacity: 1;
        // }
    }

    &__wrapper {
        width: 100%;
        min-height: 35vh;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: background-color .5s ease-in;

        // &.appear {
        //     background-color: white;
        // }

        &-list {
            padding: 5px;
            width: 100%;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

        &-item {
            margin: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & p {
                text-align: center;
                color: $primary-color;
                cursor: default;
            }

            & i {
                font-size: 1.6rem;
                color: $primary-color;
                transition: color 0.2s ease-in-out;

                &:hover {
                    color: $secondary-color;
                }
            }


        }
    }
}

// Call To Action buttons

.cta {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &-btn {
        margin: 50px auto 50px auto;
        background-color: transparent;
        border: none;
        transition: color 0.2s ease-in-out;
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
        position: relative;
        width: 80%;

        &::after {
            bottom: 0;
            content: '';
            height: 2px;
            border-radius: 2px;
            left: 50%;
            position: absolute;
            background: $secondary-color;
            transition: width .3s ease, left .3s ease;
            width: 0;
        }

        &:hover::after,
        &:focus::after {
            color: $secondary-color;
            width: 100%;
            left: 0;
        }
    }

    & .find-btn {
        width: 40%;
    }

    & .hours-btn {
        width: 55%;
    }

}

// Offer

.heading {

    &__offer,
    &__contact {
        color: white;
        text-align: center;
        font-size: 2.4rem;
        letter-spacing: 0.06em;
        margin: 200px 0 50px 0;
        cursor: default;
    }

    &__content {
        color: white;
        // text-align: center;
        font-size: 1.2rem;
        letter-spacing: 0.06em;
        margin: 100px auto 150px auto;
        width: 80%;
    }

}

@mixin card-styling {
    max-height: 60vh;
    max-width: 35vh;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px black;
    background-color: white;
    margin-bottom: 5em;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.offer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;

    // ! media queries!!! change wrapping style

    max-width: 80%;
    margin: auto;

    &__card {
        @include card-styling;
        position: relative;
        margin: 50px 10px 50px 10px;
        opacity: 0;

        @keyframes cardLoad {
            100% {
                opacity: 1;
            }
        }

        &-wrapper {
            display: flex;
            align-items: center;
            padding: 20px;
        }

        &-title {
            margin-left: 15%;
        }

        &-icon {
            max-width: 30%;
        }

        &-content {
            padding: 20px;
            font-size: 0.85rem;
            margin-top: 10px;
        }
    }
}


// Contact

.contact {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__card {
        background: white;
        min-width: 45vw;
        max-width: 55vw;
        margin: 30% auto 0 auto;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
        font-size: 1.2rem;
        position: relative;

        & p {
            margin: 0 0 15px 0;
            color: $primary-color;
            font-weight: 500;
        }

        & a {
            text-decoration: none;
            color: $primary-color;
        }

    }

    &__map {
        color: white;
        text-align: center;
        margin-top: 60%;
        width: 100%;

        &-icon {
            margin-bottom: 20%;
            & svg {
                overflow: visible;
                width: 30vw;
                height: auto;

                & .icon-marker {
                    transform: translateY(-50px);
                    fill: $secondary-color;
                    opacity: 0;
                }

                & .icon-stroke1,
                & .icon-stroke2 {
                    opacity: 0;
                }

                @keyframes markerAnim {
                    100% {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }

                @keyframes strokeAnim {
                    10%{
                        opacity: 0.6;
                    }
                    50% {
                        opacity: 0.2;
                    }
                    100%{
                        opacity: 1;
                    }
                }
            }
        }

        &-item {
            position: relative;
            height: 0;
            overflow: hidden;
            padding-bottom: 50vw;

            & iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%  !important;
                height: 100%  !important;
            }
            .item-cover {
                position: absolute;
                background-color: $primary-color;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            @keyframes coverOut {
                100% {
                    transform: translateX(-100vw);
                }
            }
        }
    }

    &__timetable {
        margin: 30% auto 0 auto;
        color: white;
        text-align: right;
        width: 100%;

        & table {
            display: flex;
            justify-content: center;
        }

        & td {
            padding: 15px;

            &:nth-child(2n-1) {
                margin-right: 150px;
            }
        }

        & tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $secondary-color;

            &:last-child {
                border-bottom: none;
            }
        }

    }


}


